@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Inter:wght@300;400;500;600;700;800&display=swap");
input, figure, img {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 16px;
  font-family: Inter, Dancing Script, sans-serif;
  line-height: 1.5;
  letter-spacing: 2px;
}

body {
  background-image: url("../images/RooksBackgroundPattern.jpg");
}

header {
  height: 38px;
  width: 100%;
  background-color: #1B64A8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
}

header h1.header__h1 {
  font-size: 18px;
  font-family: Dancing Script, sans-serif;
  font-weight: 900;
  color: #fff;
}

header nav.container__nav ul.header__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav.container__nav ul.header__ul li.header__li {
  font-size: 8px;
  margin: 0 5px;
  color: #fff;
}

.menu-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  display: none;
  height: 100%;
  width: 100%;
}

.menu-wrapper .input__toggle-nav {
  height: 30px;
  width: 30px;
  position: absolute;
  right: 5px;
  top: 4px;
  z-index: 2;
  cursor: pointer;
  opacity: 0;
}

.menu-wrapper .hamburger {
  position: absolute;
  right: 5px;
  top: 4px;
  z-index: 1;
  height: 30px;
  width: 30px;
  padding: 0.2rem;
  background-color: #4877A4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-wrapper .hamburger .inner__div {
  position: relative;
  height: 2px;
  width: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.menu-wrapper .hamburger .inner__div::before,
.menu-wrapper .hamburger .inner__div::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: -7px;
  width: 100%;
  height: 2px;
  background: inherit;
}

.menu-wrapper .hamburger .inner__div::after {
  top: 7.2px;
}

.menu-wrapper .menu__nav_hamburger {
  position: relative;
  visibility: hidden;
  height: 10%;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 60%;
  margin: 50px auto;
  background-color: #0054ae;
  border-radius: 10px;
}

.menu-wrapper .menu__nav_hamburger nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-wrapper .menu__nav_hamburger nav ul li.navigation__li {
  margin: auto 15px;
  font-size: 1rem;
  font-weight: 500;
}

.menu-wrapper .menu__nav_hamburger nav ul li.navigation__li a {
  color: #fff;
  margin-bottom: 15px;
}

.menu-wrapper .menu__nav_hamburger nav ul li:hover {
  font-weight: 700;
  -webkit-transform: scale(1.15, 1.15);
          transform: scale(1.15, 1.15);
}

.menu-wrapper .input__toggle-nav:checked ~ .menu__nav_hamburger {
  visibility: visible;
}

.menu-wrapper .input__toggle-nav:checked + .hamburger > .inner__div {
  top: 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.menu-wrapper .input__toggle-nav:checked + .hamburger > .inner__div::before,
.menu-wrapper .input__toggle-nav:checked + .hamburger > .inner__div:after {
  top: 0;
  width: 100%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

@media screen and (max-width: 510px) {
  nav.container__nav {
    display: none;
  }
  .menu-wrapper {
    display: block;
  }
}
/*# sourceMappingURL=index.css.map */